<tr>
  <td>
    {{ brand }}
  </td>
  <td>
    {{ silhouette }}
  </td>
  <td>
    {{ colorway }}
  </td>
  <td>
    {{ size }}
  </td>
    <td>
    {{ price }}
  </td>
  <td>
    <a href="#/edit-snkr" class="edit-snkr-link btn btn-primary" data-snkr-id="{{ id }}">Edit</a>
  </td>
</tr>