<div class="container">
        <div class="row margin-top-20 snkr-container">
            <div class="col-sm-3">
                <img src="{{picture}}" class="img-responsive" />
            </div>
            <div class="col-sm-9">
                <div class="margin-top-20">
                    <span class="bold">Brand: </span><span>{{brand}}</span>
                </div>
                <div>
                    <span class="bold">Title: </span><span>{{title}}</span>
                </div>
                <div>
                    <span class="bold">Colorway: </span><span>{{colorway}}</span>
                </div>
                <div>
                    <span class="bold">Shoe: </span><span>{{shoe}}</span>
                </div>
                <div>
                    <span class="bold">Style: </span><span>{{styleId}}</span>
                </div>
                <div>
                    <span class="bold">Year: </span><span>{{year}}</span>
                </div>
                <div>
                    <span class="bold">Price: </span><span>{{retailPrice}}</span>
                </div>
            </div>
        </div>
</div>
